@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

.home-page {
  @apply overflow-hidden;
}
.home-page .main-banner-holder {
  @apply bg-white p-5 h-svh min-h-[500px] max-h-[700px] flex relative select-none;
}
.home-page .main-banner-holder .planet-track-holder {
  @apply w-full max-w-[1500px] absolute;
}
.home-page .main-banner-holder .planet-track-holder .planet-track {
  @apply w-48 h-48  rounded-full border-2 border-dashed border-slate-500 relative -top-20 -left-20;
}
.home-page .main-banner-holder .planet-track-holder .planet-track .planet {
  height: 2.5rem;
  width: 2.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit 10s linear infinite;
  transform-origin: 22px 22px;
}
.home-page .main-banner-holder .main-banner {
  @apply max-w-[1500px] h-full bg-[#c1d3e7] bg-opacity-50 backdrop-blur-md p-5 rounded-xl flex flex-col justify-between relative *:z-20 overflow-hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.home-page .main-banner-holder .spaceship {
  @apply w-20 sm:w-28 md:w-36 absolute right-44 top-1 duration-300 drop-shadow-xl;
  animation: spaceship 5s ease-in-out infinite;
  transform-origin: 50% 200%;
}
.home-page .main-banner-holder .main-banner .sign-in-btn {
  @apply bg-white self-end flex items-center gap-2 p-2 pr-3 rounded-full text-xl shadow-md;
}
.home-page .main-banner-holder .main-banner .sign-in-btn svg {
  @apply w-6 h-6;
}
.home-page .main-banner-holder .main-banner .main-banner-content {
  @apply -space-y-0 -mt-10;
}
.home-page .main-banner-holder .main-banner .main-banner-content p {
  @apply text-xs sm:text-base md:text-4xl font-bold flex gap-3 bg-yellow-200 p-3 w-fit px-5 rounded-full duration-300 shadow-md;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
}
.home-page .main-banner-holder .main-banner .main-banner-content h1 {
  @apply text-6xl sm:text-8xl md:text-9xl font-bold duration-300;
  font-family: "Concert One", sans-serif;
  font-weight: 600;
}
.home-page .main-banner-holder .main-banner .bottom {
  @apply flex justify-between items-end;
}
.home-page .main-banner-holder .main-banner .bottom .left .logo {
  @apply w-16 h-16 bg-white rounded-full p-2 shadow-lg;
}
.home-page .main-banner-holder .main-banner .bottom button {
  @apply bg-white p-1 px-3 rounded-full text-lg flex items-center gap-2 bg-opacity-80 backdrop-blur-md shadow-md;
}
.home-page .main-banner-holder .banner-img {
  @apply absolute bottom-0 right-0 drop-shadow-xl w-9/12 lg:max-w-96 sm:max-w-80 max-w-64 z-10 duration-300;
}



.home-page .def-section {
  @apply relative space-y-2 flex flex-col items-start;
}
.home-page .def-section h2{
  @apply rounded-md text-lg font-bold flex items-center gap-1 w-fit px-2;
}
.home-page .def-section p{
  @apply text-justify;
}
.home-page .def-section .title img{
  @apply w-6 h-6 bg-white rounded-full p-[1px];
}



.home-page .about-and-num-holder{
    @apply bg-white;
}
.home-page .about-and-num-holder .about-and-num-child{
    @apply flex lg:flex-row-reverse flex-col gap-8 p-3 pb-5 relative;
}
.home-page .about-and-num-holder .about-and-num-child .rocket-img{
    @apply absolute w-20 top-5 -left-10 drop-shadow-xl;
    transform: rotate(-20deg);
    animation: rocket 5s ease-in-out infinite;
    transform-origin: 50% 200%;
}
.home-page .about-and-num-holder .about-and-num-child .astronut-img{
    @apply absolute w-36 bottom-32 -right-10 drop-shadow-xl;
    transform: rotate(-20deg);
    animation: rocket 5s ease-in-out infinite;
    transform-origin: 50% 200%;
}
.home-page .about-and-num-holder .about-and-num-child .about{
    @apply w-full lg:max-w-[700px] max-w-full bg-slate-100 bg-opacity-40 backdrop-blur px-7;
}
.home-page .about-and-num-holder .about-and-num-child .numbers{
    /* @apply w-full bg-[#a7e0e6] bg-opacity-40; */
    @apply w-full bg-slate-200 bg-opacity-40 backdrop-blur-sm flex flex-col
    gap-3 items-center;
}
.home-page .about-and-num-holder .about-and-num-child .numbers .users-number-holder{
    /* @apply w-full bg-[#a7e0e6] bg-opacity-40; */
    @apply flex w-fit;
}
.home-page .about-and-num-holder .about-and-num-child .numbers .users-number-holder .user-count{
    /* @apply w-full bg-[#a7e0e6] bg-opacity-40; */
    @apply flex gap-7 items-center;
}
.home-page .about-and-num-holder .user-count .number{
    @apply flex flex-col gap-1 items-center;
}
.home-page .about-and-num-holder .user-count h3{
    @apply text-5xl font-bold;
}
.home-page .about-and-num-holder .user-count p{
    @apply flex gap-1 items-center bg-slate-600 text-white px-2 rounded-full;
}
.home-page .about-and-num-holder .more-count{
    @apply p-2 flex sm:flex-row flex-col bg-white rounded-xl shadow-md w-full max-w-[500px] duration-300;
}
.home-page .about-and-num-holder .more-count .count{
  @apply flex sm:flex-col flex-row sm:justify-normal gap-5 sm:gap-0 flex-grow items-center sm:border-l-2 border-b-2 last:border-b-0 sm:border-b-0 justify-start border-dashed first:border-l-0 p-2 sm:p-0 duration-300;
}
.home-page .about-and-num-holder .more-count .count h3{
  @apply text-xl font-bold;
}
.home-page .about-and-num-holder .more-count .count p{
  @apply sm:max-w-28 text-sm *:has-[svg]:inline-block bg-slate-50 text-center px-2 rounded-full;
}
.home-page .about-and-num-holder .about-prototype{
  @apply bg-yellow-50 p-3 rounded-lg relative pt-7 max-w-[500px] shadow-md;
  margin-top: 2rem !important;
}
.home-page .about-and-num-holder .about-prototype .title{
  @apply text-base items-center flex bg-yellow-200 w-fit p-2 px-3 gap-3 rounded-full absolute -top-5 shadow-md;
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
}



.home-page .problem-statement-holder{
  @apply relative w-[100%];
}
.home-page .problem-statement-holder .problem-statement{
  @apply p-5 flex flex-col md:flex-row gap-7;
}
.home-page .problem-statement-holder .problem-statement > *{
  @apply w-full p-5;
}
.home-page .problem-statement-holder .problem-statement .statement{
  @apply bg-[#d9cedf] w-full bg-opacity-30 backdrop-blur-md flex items-center max-w-full md:max-w-xl;
}
.home-page .problem-statement-holder .problem-statement .statement img{
  @apply rounded-xl shadow-md;
}
.home-page .problem-statement-holder .problem-statement .statement span{
  @apply bg-zinc-700 text-white px-2 rounded-full;
}
.home-page .problem-statement-holder .problem-statement .solution{
  @apply gap-3 p-7 flex items-center justify-center bg-[#d0dede] bg-opacity-30 backdrop-blur-md;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list{
  @apply flex flex-col gap-1 relative *:z-10;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .line{
  @apply h-full absolute w-[1px] border-l-2 border-dashed border-slate-600 left-[12px] z-0;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .solution-item{
  @apply flex gap-2;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .solution-item .no{
  @apply min-w-7 h-7 p-1 flex items-center justify-center *:has-[svg]:w-5 *:has-[svg]:h-5 rounded-full fill-white text-white;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .solution-item .info h4{
  @apply font-bold;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .solution-item .info p{
  @apply text-sm;
}
.home-page .problem-statement-holder .problem-statement .solution .solutions-list .solution-item .info p span{
  @apply bg-yellow-300 inline-flex items-center px-2 rounded-full ml-2 gap-1;
  font-family: "Gloria Hallelujah", cursive;
}
  


.home-page .sign-in-msg-holder{
  @apply p-7
}
.home-page .sign-in-msg-holder .sign-in-msg{
  @apply bg-[#d4e4e4] bg-opacity-30 backdrop-blur-md p-6 sm:rounded-full rounded-3xl flex flex-col lg:flex-row justify-center items-center gap-6
}
.home-page .sign-in-msg-holder .sign-in-msg .left{
  @apply space-y-2 flex flex-col;
}
.home-page .sign-in-msg-holder .sign-in-msg h3{
  @apply font-bold text-2xl text-center;
}
.home-page .sign-in-msg-holder .sign-in-msg p{
  @apply  *:has-[svg]:inline-flex items-center inline-flex text-center self-center gap-1;
  font-family: "Gloria Hallelujah", cursive;
}
.home-page .sign-in-msg-holder .sign-in-msg span{
  @apply  *:has-[svg]:inline-flex items-center inline-flex gap-1 bg-yellow-300 px-2 rounded-full;
  font-family: "Gloria Hallelujah", cursive;
}
.home-page .sign-in-msg-holder .sign-in-msg p span svg{
  @apply  w-3;
}
.home-page .sign-in-msg-holder .sign-in-msg button{
  @apply  bg-white flex gap-2 p-2 px-3 text-lg items-center rounded-full shadow-xl;
}
.home-page .planet-img-2 {
  @apply absolute w-10;
  animation: movingPlanet 30s ease-in-out infinite;
  transform-origin: 50% 50%; /* Center point for rotation */
}

@keyframes movingPlanet {
  0% {
    transform: rotate(0deg) translateX(500px) translateY(200px);
  }

  25% {
    transform: rotate(-15deg) translateX(-500px) translateY(10px);
  }

  50% {
    transform: rotate(-10deg) translateX(10px) translateY(600px);
  }

  75% {
    transform: rotate(10deg) translateX(700px) translateY(300px);
  }

  100% {
    transform: rotate(-15deg) translateX(-500px) translateY(10px);
  }
}
@keyframes spaceship {
  0% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }

  25% {
    transform: rotate(-10deg) translateX(10px) translateY(20px);
  }
  75% {
    transform: rotate(10deg) translateX(-10px) translateY(20px);
  }

  100% {
    transform: rotate(0deg) translateX(0) translateY(0);
  }
}
@keyframes rocket {
  0% {
    transform: rotate(10deg) translateX(0) translateY(0);
  }

  25% {
    transform: rotate(-10deg) translateX(10px) translateY(50px);
  }
  50% {
    transform: rotate(10deg) translateX(-10px) translateY(100px);
  }

  100% {
    transform: rotate(10deg) translateX(0) translateY(0);
  }
}
@keyframes orbit {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) translateY(-88px);
  }

  25% {
    transform: translate(-50%, -50%) rotate(90deg) translateY(-88px);
  }

  75% {
    transform: translate(-50%, -50%) rotate(270deg) translateY(-88px);
  }

  to {
    transform: translate(-50%, -50%) rotate(1turn) translateY(-88px);
  }
}
